<div class="row justify-content-between" style="min-height: 60px;">
  <div class="clearfix hidden-sm-down col-sm-2 col-lg-2" style="margin: -20p 0 -20px 0">
    <img [src]="LOGO" class="img-fluid float-left"  style="max-height: 120px;" alt="Umbretta"/>
  </div>
  <div class="col-sm-6">
    <div class="row justify-content-end">
      <div class="col">
        <nav  class="navbar navbar-toggleable-md navbar-light bg-faded"
              style="background-color: rgba(255, 255, 255, 0); z-index: 100">
              <button class="navbar-toggler navbar-toggler-right"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="true"
                      aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li *ngFor="let linkItem of ContentArray" class="nav-item">
                <strong><a class="nav-link" href={{linkItem.href}}>{{linkItem.link}}</a></strong>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
